/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
.center_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin10{
  margin-top:10px;
}
